<div id="card-body" class="card-body">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Excercises</li>
    </ol>
  </nav>
  <div>
    <button id="excercises" type="button" class="btn btn-secondary">List</button>
    <button id="saveForm" type="button" class="btn btn-success">Save</button>
    <button id="delete" type="button" class="btn btn-danger">Delete</button>
  </div>
  <form id="form-crud" name="form-crud">
    <input type="hidden" id="id" name="id">
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Description</label>
      <input type="textarea" class="form-control" id="description" name="description" placeholder="description ...">
    </div>
  </form>
</div>
</div>
