<div id="card-body" class="card-body">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">User's Plan (Detail)</li>
    </ol>
  </nav>
  <div>
    <button id="user_plan" type="button" class="btn btn-secondary">List</button>
    <button id="saveForm" type="button" class="btn btn-success">Save</button>
    <button id="delete" type="button" class="btn btn-danger">Delete</button>
    <button id="work_out_days_create" type="button" class="btn btn-primary">Add day</button>
  </div>
  <form id="form-crud" name="form-crud">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="planId" name="planId">
    <input type="hidden" id="userId" name="userId">
    <div class="form-group">
      <label for="exampleFormControlInput1">User</label>
      <select class="form-control" id="user_id" name="user_id">
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Plan</label>
      <select class="form-control" id="plan_id" name="plan_id">
      </select>
    </div>
    <div  id="work_out_days_list" class="accordion" >       
    </div>
  </form>
</div>
</div>
