<div id="card-body" class="card-body">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">User's Plan (Overview)</li>
    </ol>
  </nav>
  <div class="">
    
    <button id="user_plan_search" type="button" class="btn btn-secondary">Search</button>
    <button id="new" type="button" class="btn btn-primary">Add plan</button>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      User's Plan List
    </div>
    <div id="list" class="card-body">
      <form id="form-crud" name="form-crud">
        <input type="hidden" id="id" name="id">
      </form>
      <div class="list-group">
      </div>
    </div>
  </div>
</div>
<br>
