<div id="menu">
    <img class="card-img-top" src="../../assets/img/vg.jpg" alt="Card image cap">
    <div class="card-body">
      <button id="users" type="button" class="btn btn-secondary btn-lg btn-block">Users</button>
      <button id="user_plan" type="button" class="btn btn-primary btn-lg btn-block">User's Plans</button>
      <button id="plans" type="button" class="btn btn-secondary btn-lg btn-block">Plans</button>
      <button id="days" type="button" class="btn btn-secondary btn-lg btn-block">Days</button>
      <button id="excercises" type="button" class="btn btn-secondary btn-lg btn-block">Escercises</button>
    </div>
</div>
