<div id="card-body" class="card-body">
  <img class="card-img-top" src="../../assets/img/vg.jpg" alt="Card image cap">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Registration Form</li>
    </ol>
  </nav>
  <div>
    <button id="saveForm" type="button" class="btn btn-success">Save</button>
    <button id="login" type="button" class="btn btn-secondary">Back to Login</button>
  </div>
  <form id="form-crud" name="form-crud">
    <input type="hidden" id="id" name="id">
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="fist name...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Lastname</label>
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="lastname ...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="password ...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Weight</label>
      <input type="text" class="form-control" id="weight" name="weight" placeholder="weight ...">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Size</label>
      <input type="text" class="form-control" id="size" name="size" placeholder="size ...">
    </div>
  </form>
</div>
</div>
